@use '../variables.scss' as *;
.tabs {
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
}

.tab_list {
  list-style: none;
}

.tabs_button {
  width: 168px;
  height: 50px;
  border: 1px solid $btnBorder;
  background-color: $white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: $grey;
  cursor: pointer !important;
}

.tabs_button__first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.tabs_button__last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.active {
  background-color: $blue;
  color: $white;
}
